<p id="notice"><%= notice %></p>

<h1>Conection Strains</h1>

<table>
  <thead>
    <tr>
      <th>Wine</th>
      <th>Strain</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conection_strains.each do |conection_strain| %>
      <tr>
        <td><%= conection_strain.wine %></td>
        <td><%= conection_strain.strain %></td>
        <td><%= link_to 'Show', conection_strain %></td>
        <td><%= link_to 'Edit', edit_conection_strain_path(conection_strain) %></td>
        <td><%= link_to 'Destroy', conection_strain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Conection Strain', new_conection_strain_path %>
